# Ignore all files
*
# except
!.gitignore
!ApachePortable.au3
!ApachePortable.exe
!ApachePortable.ini
!Apache2.au3
!Apache2.exe
!Apache2.ini
!README.md
# and these directories
![aA]pp/
![oO]ther/
![oO]ther/Configs/
![rR]esources/
![aA]pp/AppInfo/