#
# XAMPP settings
#

<IfModule env_module>
    SetEnv MIBDIRS "$CYBESYSTEMSPATH/php/extras/mibs"
    SetEnv MYSQL_HOME "$CYBESYSTEMSPATH/mysql/bin"
    SetEnv OPENSSL_CONF "$CYBESYSTEMSPATH/apache/bin/openssl.cnf"
    SetEnv PHP_PEAR_SYSCONF_DIR "$CYBESYSTEMSPATH/php"
    SetEnv PHPRC "$CYBESYSTEMSPATH/php"
    SetEnv TMP "$CYBESYSTEMSPATH/tmp"
</IfModule>

#
# PHP-Module setup
#
LoadFile "$CYBESYSTEMSPATH/php/php5ts.dll"
LoadModule php5_module "$CYBESYSTEMSPATH/php/php5apache2_4.dll"

<FilesMatch "\.php$">
    SetHandler application/x-httpd-php
</FilesMatch>
<FilesMatch "\.phps$">
    SetHandler application/x-httpd-php-source
</FilesMatch>

#
# PHP-CGI setup
#
#<FilesMatch "\.php$">
#    SetHandler application/x-httpd-php-cgi
#</FilesMatch>
#<IfModule actions_module>
#    Action application/x-httpd-php-cgi "/php-cgi/php-cgi.exe"
#</IfModule>


<IfModule php5_module>
    PHPINIDir "$CYBESYSTEMSPATH/php"

</IfModule>

<IfModule mime_module>
    AddType text/html .php .phps
</IfModule>

ScriptAlias /php-cgi/ "$CYBESYSTEMSPATH/php/"
<Directory "$CYBESYSTEMSPATH/php">
    AllowOverride None
    Options None
    Require all denied
    <Files "php-cgi.exe">
          Require all granted
    </Files>
</Directory>

<Directory "$CYBESYSTEMSPARENTPATH/cgi-bin">
    <FilesMatch "\.php$">
        SetHandler cgi-script
    </FilesMatch>
    <FilesMatch "\.phps$">
        SetHandler None
    </FilesMatch>
</Directory>

<Directory "$CYBESYSTEMSPARENTPATH/htdocs/xampp">
    <IfModule php5_module>
    	<Files "status.php">
    		php_admin_flag safe_mode off
    	</Files>
    </IfModule>
    AllowOverride AuthConfig
</Directory>

<IfModule alias_module>
    Alias /security "$CYBESYSTEMSPARENTPATH/security/htdocs/"
    <Directory "$CYBESYSTEMSPARENTPATH/security/htdocs">
        <IfModule php5_module>
    		<Files "xamppsecurity.php">
    			php_admin_flag safe_mode off
    		</Files>
        </IfModule>
        AllowOverride AuthConfig
        Require all granted
   </Directory>

    Alias /licenses "$CYBESYSTEMSPARENTPATH/licenses/"
    <Directory "$CYBESYSTEMSPARENTPATH/licenses">
        Options +Indexes
        <IfModule autoindex_color_module>
            DirectoryIndexTextColor  "#000000"
            DirectoryIndexBGColor "#f8e8a0"
            DirectoryIndexLinkColor "#bb3902"
            DirectoryIndexVLinkColor "#bb3902"
            DirectoryIndexALinkColor "#bb3902"
        </IfModule>
        Require all granted
   </Directory>

#    Alias /phpmyadmin "$CYBESYSTEMSPARENTPATH/phpMyAdmin/"
#    <Directory "$CYBESYSTEMSPARENTPATH/phpMyAdmin">
#        AllowOverride AuthConfig
#        Require all granted
#    </Directory>

    Alias /webalizer "$CYBESYSTEMSPARENTPATH/webalizer/"
    <Directory "$CYBESYSTEMSPARENTPATH/webalizer">
        <IfModule php5_module>
    		<Files "webalizer.php">
    			php_admin_flag safe_mode off
    		</Files>
        </IfModule>
        AllowOverride AuthConfig
        Require all granted
    </Directory>
</IfModule>

#
# New XAMPP security concept
#
<LocationMatch "^/(?i:(?:xampp|security|licenses|phpmyadmin|webalizer|server-status|server-info))">
	Order deny,allow
	Deny from all
	Allow from ::1 127.0.0.0/8 \
		fc00::/7 10.0.0.0/8 172.16.0.0/12 192.168.0.0/16 \
		fe80::/10 169.254.0.0/16

	ErrorDocument 403 /error$CYBESYSTEMSPATH_FORBIDDEN.html.var
</LocationMatch>

